
<ul class="navbar navbar-dark bg-secondary">
    
    <a class="navbar-brand" (click)="getAllUsers()">Fundoo Notes App admin</a>
    <a class="navbar-brand" >Un Approved Answers</a>
    <a class="navbar-brand" >User List</a>
    <a class="navbar-brand" >Orders</a>
    <a class="navbar-brand">
      <button type="button"  class="btn btn-info" (click)="onLogout()">Logout</button>
</a>

</ul>

<div class="container">
<div class="row justify-content-center">
    <div class="col-4">
      <div class="card" (click)="onAdvance()">
        <div class="card-body">
          <h5 class="card-title align-items-center d-flex justify-content-center">Advance Users</h5>
          <p class="card-text align-items-center d-flex justify-content-center" id="countAdvance"></p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card" (click)="onBasic()">
        <div class="card-body">
          <h5 class="card-title align-items-center d-flex justify-content-center">Basic Users</h5>
          <p class="card-text align-items-center d-flex justify-content-center" id="countBasic"></p>
        </div>
      </div>
    </div>
  </div>

  <input class="form-control" id="search" type="text" placeholder="Search  for users">

</div>
<div class="table-responsive-sm">
 
 <table class="table table-bordered table-striped" id="user_table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">Service</th>
    </tr>
  </thead>
  <tbody id="searchUser">

  </tbody>
</table>  
</div>


<div class="align-items-center d-flex justify-content-center">
  <ul class="pagination">
  <li class="page-item"><a class="page-link">Previous</a></li>
  <li class="page-item"><a class="page-link" >1</a></li>
  <li class="page-item"><a class="page-link" >2</a></li>
  <li class="page-item"><a class="page-link">3</a></li>
  <li class="page-item"><a class="page-link" >Next</a></li>
  </ul>
</div>



