
<ul class="navbar navbar-dark bg-dark">
    
    <a class="navbar-brand" href="#">Fundoo Notes App admin</a>
    <a class="navbar-brand" href="#">Un Approved Answers</a>
    <a class="navbar-brand" href="#">User List</a>
    <a class="navbar-brand" href="#">Orders</a>
    <a class="navbar-brand" href="#" tabindex="-1">Logout</a>

</ul>

<div class="container">
<div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title align-items-center d-flex justify-content-center">Advance Users</h5>
          <p class="card-text align-items-center d-flex justify-content-center" id="countAdvance"></p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title align-items-center d-flex justify-content-center">Basic Users</h5>
          <p class="card-text align-items-center d-flex justify-content-center" id="countBasic"></p>
        </div>
      </div>
    </div>
  </div>

  <input class="form-control" id="search" type="text" placeholder="Search  for users">

</div>
<div class="table-responsive-sm">
 
 <table class="table table-bordered" id="user_table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">Service</th>
    </tr>
  </thead>
</table>  
</div>



